* {
  box-sizing: border-box;
}

header {
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.content {
  display: grid;
  place-items: center;
  height: 200vh;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  border: 1px solid red;
  height: 100%;
  display: flex;
  align-items: center;
}

nav-toggle-label span,
nav-toggle-label span::before,
nav-toggle-label span::after {
  display: block;
  background: white;
  height: 4px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

nav-toggle-label span::before,
nav-toggle-label span::after {
}

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  text-transform: uppercase;
}

nav a:hover {
  color: blue;
}

.nav-toggle:checked ~ nav {
  display: block;
}
